version: '2'
services:
  db:
    image: mysql:5.7.18
    env_file:
        - .env
    volumes:
      - ${VOLUME}:/data
      - data-volume:/var/lib/mysql
    command: ["mysqld", "--secure-file-priv=/data"]
  load:
    image: shusson/variantloader:1.0
    entrypoint: 'go-wrapper run -c -d "${MYSQL_ROOT_USER}:${MYSQL_ROOT_PASSWORD}@tcp(db:${MYSQL_ROOT_PORT})/" -f ${DATAFILE}'
  api:
    image: shusson/variantstore:1.0
    ports:
      - "8080:8080"
    entrypoint: 'go-wrapper run -d "${MYSQL_ROOT_USER}:${MYSQL_ROOT_PASSWORD}@tcp(db:${MYSQL_ROOT_PORT})/v"'

volumes:
  data-volume:
