version: '2'
services:
  db:
    restart: always
    image: mysql:5.7.18
    ports:
      - "3306:3306"
    env_file:
      - .env
    volumes:
      - ${VOLUME}:/data
      - ./data/db:/var/lib/mysql
    command: ["mysqld", "--secure-file-priv=/data"]
  api:
    depends_on:
      - db
    restart: always
    ports:
      - "8080:8080"
    image: shusson/variantstore:1.4
    entrypoint: 'go-wrapper run -d "${MYSQL_ROOT_USER}:${MYSQL_ROOT_PASSWORD}@tcp(db:${MYSQL_ROOT_PORT})/variants"'
